openapi: 3.0.0
info:
  title: Giant Bomb Characters Franchises API
  description: The Giant Bomb API provides access to video game data including games, platforms, characters, companies, franchises, reviews, and videos. Giant Bomb is a video game website and wiki that covers video game news, reviews, and features.
  version: 1.0.0
  contact:
    name: Giant Bomb API Support
    url: https://www.giantbomb.com/api/
servers:
- url: https://www.giantbomb.com/api
  description: Giant Bomb API Production Server
security:
- apiKeyQuery: []
tags:
- name: Franchises
  description: Access to franchise data
paths:
  /franchises/:
    get:
      summary: Get franchises
      description: Returns a list of franchises
      operationId: getFranchises
      tags:
      - Franchises
      parameters:
      - $ref: '#/components/parameters/format'
      - $ref: '#/components/parameters/field_list'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /franchise/{guid}/:
    get:
      summary: Get single franchise
      description: Returns a single franchise
      operationId: getFranchise
      tags:
      - Franchises
      parameters:
      - name: guid
        in: path
        required: true
        description: Franchise GUID
        schema:
          type: string
      - $ref: '#/components/parameters/format'
      - $ref: '#/components/parameters/field_list'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
components:
  parameters:
    format:
      name: format
      in: query
      description: Response format
      schema:
        type: string
        enum:
        - json
        - xml
        default: json
    limit:
      name: limit
      in: query
      description: Number of results to return (max 100)
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 100
    field_list:
      name: field_list
      in: query
      description: Comma-separated list of fields to include in response
      schema:
        type: string
    filter:
      name: filter
      in: query
      description: Filter results (e.g., field:value)
      schema:
        type: string
    sort:
      name: sort
      in: query
      description: Field to sort by (prefix with - for descending)
      schema:
        type: string
    offset:
      name: offset
      in: query
      description: Offset into result set
      schema:
        type: integer
        minimum: 0
        default: 0
  schemas:
    ApiResponse:
      type: object
      properties:
        error:
          type: string
          description: Error message if request failed
        limit:
          type: integer
          description: Number of results per page
        offset:
          type: integer
          description: Offset into result set
        number_of_page_results:
          type: integer
          description: Number of results on current page
        number_of_total_results:
          type: integer
          description: Total number of matching results
        status_code:
          type: integer
          description: Status code (1 = success)
        results:
          description: Array of results
          oneOf:
          - type: array
          - type: object
  securitySchemes:
    apiKeyQuery:
      type: apiKey
      name: api_key
      in: query
      description: API key for authentication. Register at https://www.giantbomb.com/api/
